html {
	@apply m-0 h-full w-full p-0;

	@apply bg-white text-black;

	@apply dark:bg-black dark:text-white;

	@apply bg-no-repeat;

	background-position: center center;

	background-size: 160% auto;

	-webkit-tap-highlight-color: transparent;

	background-image: image-set(
		url("/Asset/Rock.webp") 1x,
		url("/Asset/Rockx22.webp") 2x
	);

	@media (min-width: 1921px) {
		& {
			background-image: image-set(
				url("/Asset/Rockx22.webp") 1x,
				url("/Asset/Rockx22x22.webp") 2x
			);
		}
	}
	@media (min-width: 2560px) {
		& {
			background-image: url("/Asset/Rockx22x22.webp");
		}
	}
}

body {
	@apply flex h-full flex-grow flex-col;

	@apply bg-transparent;

	@apply tabular-nums;

	@apply antialiased sm:subpixel-antialiased;

	background-image: url("/Asset/Background.svg");

	font-variant-ligatures: no-common-ligatures;

	background-size: 160% auto;

	background-position: 50% 50%;

	@apply bg-no-repeat;
}

/* Text Selection Highlighting */
*::selection,
::selection {
	@apply bg-yellow-400 text-black;

	@apply dark:bg-orange-400 dark:text-white;

	text-shadow: none;
}

img {
	@apply inline-block select-none align-top;

	@apply outline-2 outline-offset-2 outline-transparent;
}
