#Layout {
	@apply fixed inset-0 h-screen w-screen overflow-hidden opacity-0;

	z-index: -1;

	&.Load {
		@apply opacity-100;
	}

	&.Transition {
		transition: opacity 0.8s ease-out;
	}

	.Container {
		@apply absolute left-1/2 top-1/2;

		width: 200vw;
		height: 200vh;

		transform: translate(
			calc(-50% + var(--Staccato, 0) * 4px),
			calc(-50% + var(--StaccatoPhase, 0) * 3px)
		);
	}

	.Image {
		@apply h-full w-full object-cover object-center;
		opacity: 0.15;
	}

	#Rock {
		z-index: -3;
	}

	#Rock .Image {
		opacity: 0.20;
	}

	#Background {
		z-index: -2;
	}
}

@media (prefers-reduced-motion: reduce) {
	#Layout .Container {
		transform: translate(-50%, -50%);
	}
}
