#Layout {
	@apply fixed inset-0 h-screen w-screen overflow-hidden opacity-0;

	z-index: -1;

	&.Load {
		@apply opacity-100;
	}

	&.Transition {
		transition: opacity 0.8s ease-out;
	}

	.Container {
		@apply absolute left-1/2 top-1/2 h-screen;

		width: 160vw;

		transform: translate(-50%, -50%);
	}

	.Image {
		@apply h-full w-full object-cover object-center;
	}

	#Rock {
		z-index: -3;
	}

	#Background {
		z-index: -2;
	}
}
